.panditcard-container {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background: #fffaee;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.panditcard-image-container {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px; /* Gap below image */
}

.panditcard-image {
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.title-group {
  display: flex;
  flex-direction: column;
  gap: 0; /* No gap between title and subtitle */
}

.panditcard-title {
  color: #1a1a1a;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

.panditcard-subtitle {
  color: #808080;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.panditcard-description {
  color: #1a1a1a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 8px; /* Gap above description */
}

.detailedCard-container,.detailedMwCard-container {
  max-width: 389px;
  padding: 16px;
  width: 100%;
  border-radius: 12px;
  background: #fffaee;
}
.detailedCard-image-container {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.detailedCard-image {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.detailedCard-title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.detailedCard-subtitle {
  color: #3e3e3e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  margin-bottom: 8px;
}
.detailedCard-description {
  color: #3e3e3e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.detailedCard-viewDetails {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .detailedCard-container {
    display: flex;
    flex-direction: row;
    max-width: none;
    gap: 8px;
    width: 100%;
  }
  .detailedMwCard-container {
    min-width: 286px;
  }
  .detailedCard-image-container {
    flex: 0 0 10%;
  }
  .detailedCard-data-container {
    flex: 0 0 90%;
  }
}
@media (max-width: 480px) {
  .panditcard-title {
    font-size: 14px;
  }

  .panditcard-subtitle {
    font-size: 12px;
  }

  .panditcard-description {
    font-size: 12px;
  }
  .detailedCard-viewDetails {
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 4px 0;
  }
  .detailedCard-image-container {
    flex: 0 0 20%;
  }
  .detailedCard-data-container {
    flex: 0 0 75%;
  }
  .detailedCard-description {
    font-size: 12px;
  }
  .detailedCard-viewDetails-txt {
    color: #af1e2e;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
