.counter {
  color: #fff;
  background: #af1e2e;
  border-radius: 5px;
  width: 30px;
  height: 42px;
  margin: 2px;
  padding: 10px;
  font-size: 26px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px #0003;
}

.currentDigit,
.newDigit {
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 25px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.container {
  display: flex;
  gap: 0;
}
